[submodule "jsoncpp"]
	path = jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
[submodule "IXWebSocket"]
	path = IXWebSocket
	url = https://github.com/N00byKing/IXWebSocket
[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/madler/zlib.git
